main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 35vw;
}
.about {
	display: flex;
	gap: 2vw;
}

.about > img {
	width: 10vw;
}

p {
	text-align: justify;
	font-weight: 300;
	font-size: 0.9vw;
	line-height: 1.5;
}

.vision {
	font-size: 1.3vw;
	font-weight: 600;
}

@media screen and (max-width: 1008px) {
	main {
		width: 70vw;
	}
	.about {
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
	.about > img {
		order: 1;
		width: 50%;
	}
	p {
		font-size: 2vw;
	}
	.vision {
		font-size: 3vw;
	}
}
@media screen and (max-width: 767px) {
	main {
		width: 80vw;
	}
	.about {
		align-items: center;
	}
	p {
		width: 80%;
		font-size: 2.5vw;
	}

	.vision {
		font-size: 4vw;
	}
}
