.map-container {
	margin-block: 1vw;
}

.map {
	border-radius: 15px;
	width: 50vw;
	height: 40vh;
}

.map-address {
	font-size: 0.7vw;
}

h1 {
	font-size: 2vw;
	width: 45%;
}

.contact-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 50vw;
}

.contacts {
	position: absolute;
	display: flex;
	bottom: 0;
	flex-direction: column;
	font-size: 1vw;
	width: 50%;
}

.contacts > i {
	display: flex;
	gap: 0.5em;
	margin: 0.5em;
}

.form-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
}

.form-container > * {
	flex: 1;
}

.form {
	display: flex;
	flex-direction: column;
	position: relative;
	font-size: 1vw;
}

.form > * {
	flex: 1;
}

.text-field {
	display: flex;
	flex-direction: column;
}

.text-field > input {
	color: #13151e;
}

.radio-field {
	display: flex;
	align-items: center;
}

.radio-field > input {
	vertical-align: middle;
	margin-left: 1vw;
}

.radio-field > label {
	margin-block: 0.5vw;
}

.checkbox-field > input {
	vertical-align: middle;
}

input[type='submit'] {
	position: absolute;
	padding: 0.5vw 1vw;
	color: #13151e;
	font-size: 1vw;
	background-color: silver;
	border-radius: 6px;
	bottom: 0;
	right: 0;
}

@media screen and (max-width: 768px) {
	main {
		display: flex;
		flex-direction: column;
		gap: 5vw;
	}
	.map {
		width: 80vw;
		height: 20vh;
	}
	.map-container {
		order: 1;
	}

	.map-address {
		font-size: 1.5vw;
	}

	.contact-container {
		width: 70vw;
		gap: 5vw;
	}

	.contacts {
		position: relative;
		width: 100%;
		font-size: 2vw;
	}

	h1 {
		font-size: 7vw;
		width: 100%;
	}

	.form-container {
		width: 100%;
	}

	.contacts {
		flex-direction: row;
	}

	.form {
		width: 50%;
		font-size: 3vw;
	}
}
