@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #13151e;
}

#linear-grad {
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(163, 120, 59)
	);
	opacity: 0.12;
}

svg {
	fill: white;
}

.active {
	display: inherit !important;
}

.hidden {
	display: none !important;
}

.nav-container {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	height: 10vh;
}

.nav-item {
	font-weight: 300;
	font-size: 1.3vw;
	padding-block: 0.5em;
	cursor: pointer;
}

.nav-active {
	border-bottom: 3px solid white;
}

footer {
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	height: 10vh;
}

footer h6 {
	font-weight: 300;
	font-size: 0.7vw;
}
.nav-item:hover {
	border-bottom: 3px solid white;
}
@media screen and (max-width: 1008px) {
	body {
		display: flex;
	}
	.nav-container {
		height: 5vh;
	}
	.nav-active {
		background-color: white;
		color: #13151e;
		padding: 1vw 2vw;
		border-radius: 6px;
	}
	.nav-item {
		font-size: 2vw;
	}
	footer h6 {
		font-size: 1.3vw;
	}
}

@media screen and (max-width: 767px) {
	main {
		margin-top: -10vh;
		/* margin top hanya jika layar mobile simulator bermasalah. case caat ini: layout hp rusak tapi mobile sim betul, jika margin top nyala maka mobile sim salah tapi hp betul  */
	}
	.nav-item {
		font-size: 2.5vw;
	}

	footer {
		height: 10vh;
	}
	footer h6 {
		font-size: 1.5vw;
	}
}
