@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #13151e;
}

#linear-grad {
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0),
		rgba(163, 120, 59)
	);
	opacity: 0.12;
}

svg {
	fill: white;
}

.active {
	display: inherit !important;
}

.hidden {
	display: none !important;
}

.nav-container {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

.nav-item {
	font-weight: 300;
	font-size: 1.3vw;
	cursor: pointer;
}

.nav-active {
	border-bottom: 3px solid white;
	padding-block: 0.5em;
}

footer {
	height: 10vh;
	display: flex;
	align-items: center;
}

footer h6 {
	font-weight: 300;
	font-size: 0.7vw;
}

@media screen and (max-width: 768px) {
	.nav-item {
		font-size: 2vw;
	}

	.nav-active {
		font-size: 4vw;
	}
}
