#pause-button,
#play-button,
#repeat-button {
	cursor: pointer;
	width: 12px;
}

.progress-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.progress-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1vw;
	gap: 0.5vw;
}

.bar {
	width: 40vw;
	height: 10px;
	outline: 1px solid white;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.progress-fill {
	width: 1%;
	height: 10px;
	background-color: white;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.progress-directory {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.675vw;
	font-weight: 300;
}

.directory {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	gap: 0.5rem;
	width: 60px;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.directory:hover > .progress-breakpoint {
	color: silver;
}

.directory:hover > .progress-arrow {
	background-color: silver;
}

.progress-arrow {
	background-color: white;
	width: 1px;
	height: 20px;
}

.news-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.news {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: justify;
	width: 70%;
	height: 50vh;
}

.news > h1 {
	display: inline-flex;
	text-align: left;
	font-size: 2vw;
	height: 50vh;
	align-items: center;
	justify-items: center;
}

.news-text {
	width: 60%;
}

.news-food-name {
	font-size: 3vw;
	font-weight: 500;
}

.news-food-price {
	font-size: 1.5vw;
	font-weight: 300;
}

.news-food-description {
	text-align: justify;
	margin-top: 1rem;
	font-size: 1.25vw;
	font-weight: 300;
}

.news-photo {
	width: 50vw;
	height: 50vh;
	object-fit: contain;
	pointer-events: none;
}

#nagasaki {
	width: 25vw;
	margin-right: 5vw;
}

/* tab size */
@media screen and (max-width: 1008px) {
	.bar {
		width: 80vw;
	}
	.progress-directory {
		width: 90vw;
		font-size: 1.5vw;
	}

	.news {
		width: 80vw;
		height: 60vh;
		flex-direction: column;
	}
	.news-photo {
		order: -1;
		width: 70vh;
		height: 40vh;
	}
	#nagasaki {
		width: 50vw;
		margin-right: 0;
	}
	.news-text {
		width: 100%;
	}
	.news > h1 {
		font-size: 5vw;
	}
	.news-food-name {
		font-size: 5vw;
	}
	.news-food-price {
		font-size: 3vw;
	}
	.news-food-description {
		font-size: 2.5vw;
	}
}

/* phone size */
@media screen and (max-width: 767px) {
	.news {
		width: 80vw;
		height: 50vh;
		flex-direction: column;
	}
	.news-photo {
		width: 40vh;
		height: 30vh;
	}
	.news > h1 {
		font-size: 5vw;
	}
	.news-food-name {
		font-size: 5vw;
	}
	.news-food-price {
		font-size: 3vw;
	}
	.news-food-description {
		font-size: 2.5vw;
	}
}
