::-webkit-scrollbar {
	width: 3px;
	background-color: rgba(169, 169, 169, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: white;
}

main {
	position: relative;
}

.menu-container {
	position: relative;
	display: grid;
	grid-template-columns: 49% 49%;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80vw;
	height: 80vh;
	border-radius: 25px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.filter {
	position: absolute;
	bottom: 0;
	left: 10%;
	transform: translateX(50%);
}

.filter-button {
	font-size: 1vw;
	font-weight: 300;
	background-color: black;
	color: white;
	border-radius: 3px;
	padding: 0.7vw 1vw;
	cursor: pointer;
}

.filter-active {
	background-color: #f89406;
}

.product-container {
	position: relative;
	margin: 1.9vw;
	padding: 1vw;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	height: 40vh;
	display: flex;
	align-items: center;
	gap: 1em;
}

.product-detail {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.product-img {
	width: 15vw;
}

.product-name {
	font-size: 1.8vw;
	font-weight: 600;
}

.product-japanese-name {
	font-size: 0.8vw;
	color: #f89406;
}

.product-description {
	font-weight: 300;
	font-size: 0.9vw;
	text-align: justify;
}

.product-price {
	align-self: flex-end;
	font-size: 1.3vw;
}

.product-category > img {
	width: 1vw;
}

.product-promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -1.5vw;
	left: -1.5vw;
	background-color: #f80606;
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	outline: 1px solid white;
	outline-offset: -0.3vw;
}

.promo-percentage {
	font-weight: 700;
	font-size: 1.5vw;
}

.promo-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1vw;
}

.promo-price > span {
	font-size: 0.8vw;
}

@media screen and (max-width: 1008px) {
	::-webkit-scrollbar {
		display: none;
	}

	.menu-container {
		width: 90vw;
	}

	.product-container {
		height: 20vh;
		width: 40vw;
		padding: 2vw;
	}
	.filter {
		left: 0;
	}
	.filter-button {
		font-size: 1.5vw;
	}
}

@media screen and (max-width: 767px) {
	.menu-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		border-radius: 0;
		width: 100%;
		height: 75vh;
	}

	.filter {
		left: 8%;
	}
	.filter-button {
		padding: 1vw 1vw;
	}

	.product-container {
		width: 90vw;
		min-height: 30vh;
		max-height: 30vh;
	}

	.product-img {
		width: 35vw;
	}
	.product-name {
		font-size: clamp(3vw, 4vw, 5vw);
	}

	.product-japanese-name {
		font-size: clamp(2vw, 3vw, 4vw);
	}
	.product-description {
		font-size: clamp(2vw, 2.5vw, 2vw);
	}

	.product-price {
		font-size: 3vw;
	}
	.product-category > img {
		width: 3vw;
	}
	.product-promo {
		width: 15vw;
		height: 15vw;
		top: 0;
		left: 0;
		border-radius: 10px 10px 50% 10px;
	}
	.promo-percentage {
		font-size: 3vw;
	}

	.promo-price {
		font-size: 2vw;
	}

	.promo-price > span {
		font-size: 1.5vw;
	}
	.filter {
		transform: none;
		overflow: auto;
	}
	.filter-button {
		font-size: 3vw;
	}
}
