::-webkit-scrollbar {
	width: 3px;
	background-color: rgba(169, 169, 169, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: white;
}

.menu-container {
	position: relative;
	display: grid;
	grid-template-columns: 49% 49%;
	justify-content: flex-start;
	align-items: flex-start;
	width: 80vw;
	height: 70vh;
	border-radius: 25px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.filter {
	position: absolute;
	top: 0;
	right: 4em;
}

.filter-button {
	font-weight: 300;
	background-color: #f89406;
	color: #13151e;
	border-radius: 3px;
	padding: 2px 4px;
	cursor: pointer;
}

.filter-active {
	background-color: white;
}

.product-container {
	position: relative;
	margin: 1.9vw;
	padding: 1vw;
	border-radius: 15px;
	background-color: rgba(0, 0, 0, 0.3);
	height: 40vh;
	display: flex;
	align-items: center;
	gap: 1em;
}

.product-detail {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.product-img {
	width: 15vw;
}

.product-name {
	font-size: 1.8vw;
	font-weight: 600;
}

.product-japanese-name {
	font-size: 0.8vw;
	color: #f89406;
}

.product-description {
	font-weight: 300;
	font-size: 0.9vw;
	text-align: justify;
}

.product-price {
	align-self: flex-end;
	font-size: 1.3vw;
}

.product-category > img {
	width: 1vw;
}

.product-promo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -1em;
	left: -1em;
	background-color: #f80606;
	width: 8vw;
	height: 8vw;
	border-radius: 50%;
	outline: 1px solid white;
	outline-offset: -0.3vw;
}

.promo-percentage {
	font-weight: 700;
	font-size: 1.5vw;
}

.promo-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1vw;
}

.promo-price > span {
	font-size: 0.8vw;
}
