::-webkit-scrollbar {
	height: 5px;
	background-color: rgba(169, 169, 169, 0);
}

::-webkit-scrollbar-thumb {
	border-radius: 6px;
	background-color: white;
}

.ads-container {
	margin-top: 2vw;
	width: 100vw;
	height: 46vh;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}

.ads-item {
	width: 100%;
	height: 100%;
	flex: 0 0 100vw;
}

.promo-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 40vh;
}

.promo-items {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.promo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.promo > img {
	height: 20vh;
}

.promo-text {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	font-size: 1vw;
}

.name {
	font-weight: 500;
	color: #a3783b;
}

.old-price {
	text-decoration: line-through red;
}

.new-price {
	font-size: 1.1vw;
	font-weight: 700;
	margin-top: 1vw;
}

.see-more {
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	right: -1vw;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	background-color: #c02424;
	width: 3vw;
	padding: 3vw;
	padding-right: 0.5vw;
	border-radius: 0 15px 15px 0;
	font-weight: 500;
	font-size: 1vw;
	cursor: pointer;
}

@media screen and (max-width: 1008px) {
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 5vh;
	}
	.ads-container {
		height: 35vh;
	}

	.ads-item {
		width: 100%;
		height: 100%;
	}
	.promo-title {
		font-size: 2.5vw;
		margin-bottom: 3vw;
	}
	.promo-items {
		flex-wrap: wrap;
		justify-content: flex-start;
		width: 100%;
	}
	.promo {
		flex-basis: 33.3%;
	}
	.promo > img {
		width: 13vh;
		height: 13vh;
	}

	.promo-text {
		font-size: 1.8vw;
	}

	.new-price {
		font-size: 2vw;
	}
	.see-more {
		user-select: none;
		font-size: 2vw;
		right: 0;
	}
}

@media screen and (max-width: 767px) {
	.ads-container {
		width: 100vw;
		height: 30vh;
	}
	.promo-container {
		align-items: center;
		justify-content: space-around;
	}
	.promo-items {
		width: 100%;
	}

	.promo {
		flex-basis: 33.3%;
	}

	.promo-text {
		font-size: 2vw;
	}
	.new-price {
		font-size: 2.1vw;
	}
	.see-more {
		right: -1vw;
		padding: 3vw 2vw;
		width: initial;
		border-radius: 6px;
	}
}
